.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  font-family: Neototem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  &__links {
    a {
      position: relative;
      color: darken(white, 20);
      letter-spacing: 0.1em;
      font-size: 1rem;
      font-weight: 500;

      &.active {
        color: white;
      }

      &:hover {
        color: white;
        animation: glitch-skew 1s infinite linear alternate-reverse;

        &:before {
          @include glitchCopy;
          left: 2px;
          text-shadow: -2px 0 #ff00c1;
          clip: rect(44px, 450px, 56px, 0);
          animation: glitch-anim 5s infinite linear alternate-reverse;
        }

        &:after {
          @include glitchCopy;
          left: -2px;
          text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
          animation: glitch-anim2 1s infinite linear alternate-reverse;
        }
      }
    }

    a:not(:last-child) {
      margin-right: 20px;
    }
  }
}