.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  font-family: Neototem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  &__links {
    a {
      position: relative;
      color: darken(white, 20);
      letter-spacing: 0.1em;
      font-size: 1rem;
      font-weight: 500;

      &.active {
        color: white;
      }

      &:hover {
        color: white;
        animation: glitch-skew 1s infinite linear alternate-reverse;

        &:before {
          @include glitchCopy;
          left: 2px;
          text-shadow: -2px 0 #ff00c1;
          clip: rect(44px, 450px, 56px, 0);
          animation: glitch-anim 5s infinite linear alternate-reverse;
        }

        &:after {
          @include glitchCopy;
          left: -2px;
          text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
          animation: glitch-anim2 1s infinite linear alternate-reverse;
        }
      }
    }

    a:not(:last-child) {
      margin-right: 20px;
    }
  }
}
nav{
  background-color: transparent;
}

.nav_header {
  z-index: 999;
  background-color: transparent;
  padding: 10px;
}
@media screen and (max-width: 375px) {
  .header {
    &__links {
      a {
        font-size: 0.75rem;
        font-weight: 400;
      }
    }
  }
}
/* Extra */
$primary: #fff;
$secondary: #ccc;
$ternary: #272727;
$dark: #444444;

body {
  color: $ternary;
  font-size: 14px;
  margin: 0;

}

.logo {
  max-width: 200px;
}
.navbar {
  align-items: center;
  background: transparent ;
  justify-content: space-between;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: row;
}

.push-left {
  margin-left: auto;
  display: flex;
}

/* Menu */
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
  @media screen and (max-width: 768px) {
    display: inline-block;
  }
  
  &-line {
    background: white;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all .2s ease-out; 
    width: 100%;
    
    .hamburger:hover & {
      background: rgb(255, 255, 255);
    }
    
    &-top {
      top: 3px;
    }
    
    .menu-active &-top {
      transform: rotate(45deg) translatey(-50%);
    }
    
    &-middle {
      top: 50%;
      transform: translatey(-50%);
    }
    
    .menu-active &-middle {
      left: 50%;
      opacity: 0;
      width: 0;
    }

    &-bottom {
      bottom: 3px;
    }

    .menu-active &-bottom {
      bottom: 50%;
      transform: rotate(-45deg) translatey(50%);
    }
  }
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all .25s ease-in; 
  
  @media screen and (max-width: 768px) {
    background: transparent;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform: translatey(-100%);
    text-align: center;
    
    .menu-active & {
      transform: translatey(0%);  
      opacity: 1;
      top: 100px;
    }
  }
  
  .menu-item a {
    color: $dark;
    display: block;
    line-height: 30px;
    margin: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover {
      color: lighten($dark, 20);
      text-decoration: underline;
    }

    @media screen and (max-width: 768px) {
      font-size: 20px;
      margin: 8px;
    }
  }
  
  
}

.sub-nav {
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    background-color: transparent;
    padding: 5px 5px;
    list-style: none; 
    width: 230px;   
    @media screen and (max-width: 768px) {
      position: relative;
      width: 100%;
      display: none;
      background-color: transparent;
      box-sizing: border-box;
    }
}

 .nav__link {
   &:hover + .sub-nav {
        display:block;

 }
}

.sub-nav {
  &:hover {
    display:block;
  }
}
