
.about_background-text {
    position: absolute;
    color: #555151;
    font-size: 1.8rem;
    top: 0;
    left: 0;
    bottom: -150px;
    font-family: 'Neototem';
    right: 0;
    width: 60vw;
    height: 42vw;
    margin: auto 80px;
  }
.about_section-text {
    position: absolute;
    color: #555151;
    top: 0;
    font-size: 30px;
    font-weight: 400;
    left: 40px;
    bottom: -1320px;
    right: 0;
    width: 75vw;
    height: 42vw;
    font-family: 'Neototem';
    margin: auto 80px;
    
  }
  .about_section-title {
    position: absolute;
    color: white;
    font-weight: 500;
    font-size: 3vw;
    letter-spacing: 1vw;
    top: 0;
    left: 30px;
    font-family: 'Neototem';

    bottom: -1060px;
    right: 0;
    width: 50vw;
    height: 42vw;
    margin: auto 80px;
   
  }