.about_section-text {
    position: absolute;
    color: #555151;
    top: 0;
    font-size: 20px;
    font-weight: 400;
    left: 40px;
    bottom: -1320px;
    right: 0;
    width: 35vw;
    height: 42vw;
    font-family: 'Neototem';
    margin: auto 80px;
    font-family: $raleway;
  }