
.about_background-text {
    position: absolute;
    color: #555151;
    font-size: 2rem;
    top: 0;
    left: 0;
    bottom: -150px;
    font-family: 'Neototem';
    right: 0;
    width: 50vw;
    height: 42vw;
    margin: auto 80px;
  }
.about_section-text {
    position: absolute;
    color: #555151;
    top: 0;
    text-align: right;
    font-size: 30px;
    font-weight: 400;
    left: 40px;
    bottom: -1320px;
    right: 0;
    width: 35vw;
    height: 42vw;
    font-family: 'Neototem';
    margin: auto 80px;
    
  }