.about_background-text {
  position: absolute;
  color: #555151;
  font-size: 1.8rem;
  top: 0;
  left: 0;
  bottom: -150px;
  font-family: "Neototem";
  right: 0;
  width: 60vw;
  line-height: 1.5em;

  height: 42vw;
  margin: auto 80px;
}
.about_section-text {
  position: absolute;
  color: #555151;
  top: 0;
  font-size: 30px;
  font-weight: 400;
  left: 40px;
  bottom: -1320px;
  right: 0;
  width: 75vw;
  line-height: 1.5em;
  height: 42vw;
  font-family: "Neototem";
  margin: auto 80px;
}
.about_section-title1 {
  position: absolute;
  color: white;
  font-weight: 500;
  font-size: 2vw;
  letter-spacing: 1vw;
  top: 0;
  left: 20px;
  font-family: "Neototem";

  bottom: -1200px;
  right: 0;
  width: 70vw;
  height: 42vw;
  margin: auto 40px;
  white-space: nowrap;
}
.about_section-title {
  position: absolute;
  color: white;
  font-weight: 500;
  font-size: 2vw;
  letter-spacing: 1vw;
  top: 0;
  left: 20px;
  font-family: "Neototem";

  bottom: -1060px;
  right: 0;
  width: 50vw;
  height: 42vw;
  margin: auto 40px;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  .about_section-title {
    bottom: -1500px;
    font-size: 2em;
  }
  .about_section-title1 {
    bottom: -1550px;
    font-size: 2em;
  }
  .about_background-text {
    top: -20px;
    bottom: 100px;
  }
  .about_section-text{
    bottom: -1700px;
    left: 0;
    font-size: 2.3em;
  }
  .about_bash{
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .about_section-title {
    bottom: -1500px;
    font-size: 2em;
  }
  .about_section-title1 {
    bottom: -1550px;
    font-size: 2em;
  }
  .about_background-text {
    top: -50px;
    bottom: 100px;
  }
  .about_section-text{
    bottom: -1700px;
    left: 0;
    font-size: 2.3em;
  }
  .about_bash{
    display: none;
  }
}
@media screen and (max-width: 684px) {
  .about_background-text {
    top: -50px;
    bottom: 100px;
  }
  .about_section-title {
    bottom: -1750px;
    left: 0;
    font-size: 2em;
  }
  .about_section-text{
    bottom: -2000px;
    left: 0;
    font-size: 2.3em;
  }
  .about_section-title1 {
    bottom: -1800px;
    left: 0;
    font-size: 2em;
  }
}
@media screen and (max-width: 615px) {
  .about_background-text {
    top: -110px;
    bottom: 100px;
  }
  .about_section-title {
    bottom: -2450px;
    left: 0;
    font-size: 1.5em;
  }
  .about_section-title1 {
    bottom: -2550px;
    left: 0;
    font-size: 1.7em;
  }
  .about_section-text{
    bottom: -2700px;
    left: 0;
    font-size: 2.3em;
  }
  .about_bash{
    display: none;
  }
}
@media screen and (max-width: 490px) {
  .about_background-text {
    top: -110px;
    bottom: 100px;
  }
  .about_section-title {
    bottom: -2650px;
    font-size: 1.4em;
    left: 0;
  }
  .about_section-title1 {
    bottom: -2700px;
    left: 0;
    font-size: 1.5em;
  }
  .about_section-text{
    bottom: -2850px;
    left: 0;
    font-size: 2.5em;
  }
  .about_bash{
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .about_background-text {
    top: -110px;
    bottom: 100px;
  }
  .about_section-title {
    bottom: -2750px;
    font-size: 1.5em;
    z-index: 1;
    left: 0;
  }
  .about_section-title1 {
    bottom: -2800px;
    left: 0;
    font-size: 1.5em;
  }
  .about_section-text{
    bottom: -2950px;
    font-size: 2.5em;
    left: 0;

  }
  .about_bash{
    display: none;
  }
}
@media screen and (max-width: 350px) {
  .about_background-text {
    top: -110px;
    bottom: 100px;
    font-size:2em;
  }
  .about_section-title {
    display: none;
  }
  .about_section-title1 {
    display: none;
  }
  .about_section-text{
    bottom: -2800px;
    font-size: 2em;
    left: 0;
  }
}
