.contact_title {
  position: absolute;
  color: white;
  font-weight: 900;
  font-size: 6vw;
  letter-spacing: 2vw;
  text-align: center;
  top: 0;
  left: 0;
  bottom: -240px;
  right: 0;
  width: 50vw;
  height: 42vw;
  margin: auto 80px;
  font-family: Neototem;
  animation: glitch-skew 1s infinite linear alternate-reverse;
  white-space: nowrap;

  &:before {
    @include glitchCopy;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;

    @media screen and (max-width: 1140px) {
      height: unset;
    }
  }

  &:after {
    @include glitchCopy;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;

    @media screen and (max-width: 1140px) {
      height: unset;
    }
  }
}
@media screen and (max-width:445px){
  .contact_title{
    font-size: 5vw;
  
  }
  @media screen and (max-width:320px){
    .contact_title{
      font-size: 3vw;
    }
  }
}

// Grid
@mixin grid($column) {
  width: (100% / 12) * $column;
  margin: 0 auto;
}

// Transition Ease
@mixin ease($time: 333ms, $attr: all, $curve: ease-in-out) {
  -webkit-transition: $attr $time $curve;
  -moz-transition: $attr $time $curve;
  -o-transition: $attr $time $curve;
  -ms-transition: $attr $time $curve;
  transition: $attr $time $curve;
}

//-- Lato --//
@mixin lato-1 {
  font-family: "neototem";
  font-weight: 100;
}
@mixin lato-1-i {
  @include lato-1;
  font-style: italic;
}

@mixin lato-3 {
  font-family: "neototem";
  font-weight: 300;
}
@mixin lato-3-i {
  @include lato-3;
  font-style: italic;
}

@mixin lato-4 {
  font-family: "neototem";
  font-weight: 400;
}
@mixin lato-4-i {
  @include lato-4;
  font-style: italic;
}

@mixin lato-7 {
  font-family: "neototem";
  font-weight: 700;
}
@mixin lato-7-i {
  @include lato-7;
  font-style: italic;
}

@mixin lato-9 {
  font-family: "neototem";
  font-weight: 900;
}
@mixin lato-9-i {
  @include lato-9;
  font-style: italic;
}

// Colors
$blue: #313a3d;
$pink: #fd38ab;
$dark-pink: darken($pink, 20%);
$grey: #b6b6b6;
$light-grey: lighten($grey, 15%);

$background: transparent;
$field-color: #e8e9ea;

body {
  font-size: 62.5%;
  @include lato-3;
  color: $grey;

  section {
    background: transparent;
    margin: 60px auto 120px;
    border-top: 15px solid $blue;
    text-align: center;
    padding: 50px 0 110px;
    width: 80%;
    max-width: 1100px;

    h1 {
      margin-bottom: 40px;
      font-size: 4em;
      text-transform: uppercase;
      @include lato-1;
    }
  }
}
@media screen and (min-width: 600px) {
  
}
// Form
form {
  @include grid(7);

  .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;

    $hover-label-width: 18%;
    $placeholder-bumper: 1.5%;
    $label-padding: 18px;

    // Label
    label {
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 0;
      background: $blue;
      width: 100%;
      padding: ($label-padding + 0px) 0;
      font-size: 1.45em;
      letter-spacing: 0.075em;

      @include ease(333ms);

      // Checkmark
      + span {
        font-family:"neototem";
        opacity: 0;
        color: white;
        display: block;
        position: absolute;
        top: 12px;
        left: 7%;
        font-size: 2.5em;
        text-shadow: 1px 2px 0 $dark-pink;

        @include ease(333ms);
      }
    }

    // Fields
    input[type="text"],
    textarea {
      border: none;
      background: $field-color;
      width: 100% - $hover-label-width - $placeholder-bumper;
      margin: 0;
      padding: $label-padding 0;
      padding-left: $hover-label-width + $placeholder-bumper;
      color: $blue;
      font-size: 1.4em;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      &#msg {
        height: 18px;
        resize: none;
        @include ease(333ms);
      }

      // Focus and JS Toggle Class
      &:focus,
      &.focused {
        outline: none;

        &#msg {
          padding-bottom: 150px;
        }

        + label {
          width: $hover-label-width;
          background: $pink;
          color: $blue;
        }
      }

      // JS Toggle Class
      &.focused {
        + label {
          color: $pink;
        }
      }
    }

    // Field Hover
    &:hover {
      label {
        width: $hover-label-width;
        background: $blue;
        color: white;
      }
    }
  }

  // Submit Button
  input[type="submit"] {
    background: $pink;
    color: white;
    -webkit-appearance: none;
    border: none;
    text-transform: uppercase;
    position: relative;
    padding: 13px 50px;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    @include lato-3;
    @include ease;

    &:hover {
      background: $blue;
      color: $pink;
    }

    &:focus {
      outline: none;
      background: $dark-pink;
    }
  }
}

@media screen and (max-width:768px){

}