.home {
  .title {
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 6vw;
    letter-spacing: 2vw;
    text-align: center;
    top: 0;
    left: 0;
    bottom: -240px;
    right: 0;
    width: 50vw;
    height: 42vw;
    margin: auto 80px;
    font-family: Neototem;
    animation: glitch-skew 1s infinite linear alternate-reverse;
    white-space: nowrap;

    &:before {
      @include glitchCopy;
      left: 2px;
      text-shadow: -2px 0 #ff00c1;
      clip: rect(44px, 450px, 56px, 0);
      animation: glitch-anim 5s infinite linear alternate-reverse;

      @media screen and (max-width: 1140px) {
        height: unset;
      }
    }

    &:after {
      @include glitchCopy;
      left: -2px;
      text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
      animation: glitch-anim2 1s infinite linear alternate-reverse;

      @media screen and (max-width: 1140px) {
        height: unset;
      }
    }
  }

  .background-text {
    position: absolute;
    color: #555151;
    font-weight: bold;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    bottom: -150px;
    right: 0;
    width: 50vw;
    height: 42vw;
    margin: auto 80px;
  }

  .earth_background-text {
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    top: 0;
    left: 0;
    bottom: -90px;
    right: 0;
    display: none;
    font-family: "Neototem ";
    z-index: 1;
    width: 50vw;
    height: 60vw;
    margin: auto 100px;
  }

  .section-title {
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 6vw;
    letter-spacing: 2vw;
    top: 0;
    left: 30px;
    font-family: 'Neototem';

    bottom: -1060px;
    right: 0;
    width: 50vw;
    height: 42vw;
    margin: auto 80px;
    white-space: nowrap;
  }

  .section-text {
    position: absolute;
    color: #555151;
    top: 0;
    font-size: 20px;
    font-weight: 400;
    left: 40px;
    bottom: -1320px;
    right: 0;
    width: 35vw;
    height: 42vw;
    font-family: 'Neototem';
    margin: auto 80px;
    font-family: $raleway;
  }

  &__who {
    position: absolute;
    color: #555151;
    font-weight: bold;
    font-size: 1.5rem;
    width: 50vw;
    margin: 100px 80px;
  }

  &__title {
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 6vw;
    letter-spacing: 2vw;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 42vw;
    margin: auto 80px;
    font-family: $raleway;
    animation: glitch-skew 1s infinite linear alternate-reverse;
    white-space: nowrap;

    @media screen and (max-width: 1140px) {
      width: unset;
      height: unset;
      margin: auto 10px;
      font-size: 8rem;
      animation: none;
      writing-mode: vertical-rl;
    }

    &:before {
      @include glitchCopy;
      left: 2px;
      text-shadow: -2px 0 #ff00c1;
      clip: rect(44px, 450px, 56px, 0);
      animation: glitch-anim 5s infinite linear alternate-reverse;

      @media screen and (max-width: 1140px) {
        height: unset;
      }
    }

    &:after {
      @include glitchCopy;
      left: -2px;
      text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
      animation: glitch-anim2 1s infinite linear alternate-reverse;

      @media screen and (max-width: 1140px) {
        height: unset;
      }
    }
  }

  &__audio-player{
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.6 }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.6; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.6; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.6; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 4s infinite;
   -moz-animation: flickerAnimation 4s infinite;
   -o-animation: flickerAnimation 4s infinite;
    animation: flickerAnimation 4s infinite;
}

 .glitch {
  color: rgb(223, 191, 191);
  position: relative;
  font-size: 9vw;
  // margin: 70px 200px;
  animation: glitch  2s 2s infinite;
}

.glitch::before {

  top: 0;
  animation: noise-1 3s ease infinite alternate-reverse, glitch 3s 3.05s infinite;
}

.glitch::after {
 
  top: 0;
  animation: noise-2 3s ease infinite alternate-reverse, glitch 3s 3s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(20deg) skewX(60deg);
    transform: rotateY(5deg) skewY(20deg);
    transition: ease-in 2s;
  }
  2%{
    transform: rotateX(20deg) skewX(0deg);
    transition: ease-out;
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}
.glitch:hover{
  .earth_background-text{
    display: show;
  }
}

}