@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
}

@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #020205;
  }
}

@keyframes modalFadeOut {
  0% {
    background-color: #020205;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -10px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -10px;
  }
}

@keyframes sketchInExp {
  0% {
    stroke-dashoffset: 1634;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes sketchOutExp {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1634;
  }
}

@keyframes sketchInBtn {
  0% {
    stroke-dashoffset: 369;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes sketchOutBtn {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 369;
  }
}
